.idea
.venv
db.sqlite3
db.sqlite3/
*.pyc
__pycache__/
.env
.DS_Store
venv/

static
media
# Байт-код, оптимизированные / DLL-файлы
*.py[cod]

# Файлы дистрибутивов и артефакты упаковки
dist/
*.egg-info/

# Файлы покрытия, кэши и прочие ненужные файлы
.coverage
*.py,cover
.cache/


# Контрольные точки в Jupyter notebook лучше оставить в стороне
.ipynb_checkpoints